name: Release

on:
  release:
    types: [published]

env:
  DAGGER_VERSION: "0.19.10"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dagger
        uses: dagger/dagger-for-github@v7
        with:
          version: ${{ env.DAGGER_VERSION }}

      - name: Build upload release artifacts
        run: |
          dagger call \
            release-latest \
              --version="${{ github.event.release.tag_name }}" \
              --commit="${{ github.sha }}" \
              --endpoint=env://BUCKET_ENDPOINT \
              --bucket=env://BUCKET_NAME \
              --access-key-id=env://BUCKET_ACCESS_KEY_ID \
              --secret-access-key=env://BUCKET_SECRET_ACCESS_KEY \
            export \
              --path=./build
        env:
          BUCKET_ENDPOINT: ${{ secrets.BUCKET_ENDPOINT }}
          BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
          BUCKET_ACCESS_KEY_ID: ${{ secrets.BUCKET_ACCESS_KEY_ID }}
          BUCKET_SECRET_ACCESS_KEY: ${{ secrets.BUCKET_SECRET_ACCESS_KEY }}
          DAGGER_CLOUD_TOKEN: ${{ secrets.DAGGER_CLOUD_TOKEN }}

      - name: Upload artifacts to release
        run: gh release upload "${{ github.event.release.tag_name }}" build/*
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
